.trusted-by-items {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.trusted-by-item {
    margin: 10px;
    max-width: 250px;
}

.trusted-by-item img {
    max-width: 100%;
    height: auto;
}